body
{
 margin:0;
 padding:0;

}
.daba
{

	display:flex;
	padding-left:5%;
	padding-top:5%;
 
}
.daba .card
{
  margin-left:25px;

}
.daba .gif

{
  margin-left:25px;

}

.daba .gif img
{

   height:220px;

}
.login
{
  
  width:50%;
  margin-left:25%;
  margin-top:5%;
  margin-bottom:30px;s

}
.login form
{
  padding-top:2%;
  padding-right:5%;
  padding-left:5%; 

}